@page
@model Restuarant.Pages.Dishes.CreateModel

@{
	ViewData["Title"] = "Create";
}

<div class="container">
	<div class="row py-2">
		<div class="col">
			<h2>Dodawanie</h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="d-flex justify-content-between align-items-center">
				<h4>Nowe danie</h4>
				<a asp-page="./Index" class="btn btn-outline-primary">Wróć do menu</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="col">
			<form method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Dish.Name" class="control-label"></label>
					<input asp-for="Dish.Name" class="form-control" />
					<span asp-validation-for="Dish.Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Dish.Description" class="control-label"></label>
					<input asp-for="Dish.Description" class="form-control" />
					<span asp-validation-for="Dish.Description" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Dish.Price" class="control-label"></label>
					<input asp-for="Dish.Price" class="form-control" />
					<span asp-validation-for="Dish.Price" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Dish.Type" class="control-label"></label>
					<input asp-for="Dish.Type" class="form-control" />
					<span asp-validation-for="Dish.Type" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Dish.ImageUrl" class="control-label"></label>
					<input asp-for="Dish.ImageUrl" class="form-control" />
					<span asp-validation-for="Dish.ImageUrl" class="text-danger"></span>
				</div>
				<div class="form-group mt-3">
					<input type="submit" value="Dodaj nowe danie" class="btn btn-success" />
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
